.Portfolio {
    position: relative;
    background-color: #A4A6A5;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    margin: 15px 480px;
    height: 1000px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}


@media screen and (max-width: 980px) {
    .Portfolio {
      margin: auto;
      width: auto;
    }
}