html, body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  margin-top: -50px;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

body {
  position: relative;
  background-color: #51232D; 
  color: #262323;
  font-family: 'Arimo', sans-serif;
}


header {
  background-color: #8C3E44;
  height: 75px;
  margin: -20px -20px 20px -20px;
 width: auto;
 
}

h1 {
  background-color: #403236;
  /* background-position: inherit; */
  float: left;
  text-align: center;
  padding: 19px;
  margin: 0px;
  margin-left: 400px;
  position: relative;
  color: #A4A6A5;
}
nav {
  float: right;
  margin-top: 25px;
  margin-right: 100px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

.About{
  background-color: #A4A6A5;
  width: 960px;
  padding: 20px;
  margin: 15px 480px;
  flex-wrap: wrap;
}
img {
  height: 250px;
  padding: 20px;
  float: left;
}
footer {
  background: #262323;
  color: white;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
}

  @media screen and (max-width: 980px) {
    h1 {
      position: absolute;
      margin-left: 75px;
    }
    header {
      width: auto;
    }
    .About {
      margin: auto;
      width: auto;
    }
    
    
  }
  @media screen and (max-width: 768px) {
    
  }
  /* @media screen and (max-width: 640px) {
    header{
      position: static;
      text-align: center;
    }
    
    h1 {
    padding: auto;
    margin: auto;
    margin-left: auto;
    width: 100%;
    font-size: 20px;
    }
    nav {
      background-color: grey;
      float: left;
      display: flex;
    }
    .About {
      width: 100%;
      position: relative;
    }
    
  } */